body {
  font-family: 'Bitter', serif;
  background-image: url('./cubes.png');
  color: #eeede6;
  text-align: center;
}

.main-section {
  background-color: #795b7e;
  width: 65%;
  height: 80%;
  margin: 50px auto;
  padding: 15px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

h1 {
  margin: 16px;
  margin-bottom: 28px;
  font-size: 52px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

.form-label {
  font-size: 1.1em;
}

.image-border {
  border: 2.5px solid black;
}
.show-button {
  margin: 10px;
  padding: 6px 15px;
  border: 1px solid black;
}
